body {
    background-color: lightblue;
}

.pokemon-grid {
    display: flex;
    flex-flow: wrap;
}

.pokemon-item {
    list-style-type: none;
}

.pokemon-card {
    display: block;
    box-shadow: 10px 10px #9da1ac;
    padding: 25px;
    background-color: #9dd1ab;
    transition: transform .2s; /* Animation */
    margin: 10px;
}

.pokemon-card:hover {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pokemon-card-name {
    margin: auto;
    text-align: center;
}

.pokemon-card-name p {
    display: inline-block;
}

a:link {
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}