body {
    background-color: lightblue;
}

.pokemon-grid {
    display: flex;
    flex-flow: wrap;
}

.zoom {
    padding: 40px;
    background-color: #9dd1ab;
    transition: transform .2s; /* Animation */
    margin: 10px;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}