<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Poked-ex</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<p>Pokemon list</p>
<ul class="pokemon-grid">
    <th:block th:each="pokemon : ${pokemons}">
        <li class="pokemon-item">
            <a th:href="@{'/pokemon/' + ${pokemon.id}}" class="pokemon-card">
                <img th:src="${pokemon.sprites.getFrontDefault()}" th:alt="${pokemon.name} + ' image'"/>
                <div class="pokemon-card-name">
                    <p th:text="${pokemon.id}"/>
                    <p th:text="${pokemon.name}"/>
                </div>
            </a>
        </li>
    </th:block>
</ul>
</body>
</html>