<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>HelloWorld</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<p>Pokemon list</p>
<div class="pokemon-grid">
    <th:block th:each="pokemon : ${pokemons}">
        <a th:href="@{'/pokemon/' + ${pokemon.id}}" class="pokemon-card zoom">
            <img th:src="${pokemon.sprites.getFrontDefault()}"/>
            <p th:text="${pokemon.id}"/>
            <p th:text="${pokemon.name}"/>
        </a>
    </th:block>
</div>
</body>
</html>