<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${pokemon.name}"/>
</head>
<body>
<a href="/">Back to home</a>
<h1 th:text="${pokemon.name}"/>
<img th:src="${pokemon.sprites.getFrontDefault()}"/>
<div>
    <p th:text="'weight:' + ${pokemon.weight}"/>
    <p th:text="'height:' + ${pokemon.height}"/>
    <div>
        <p>Abilities:</p>
        <ul>
            <th:block th:each="ability : ${pokemon.abilities}">
                <li th:text="${ability.ability.name}"/>
            </th:block>
        </ul>
    </div>
</div>
</body>
</html>